import { {{name}} } from '../../../../';
import Library from '../../Library';

export default function {{name}}Page() {
  return (
    <Library.Page title="{{name}}" intro={<p>TODO</p>}>
      <Library.Section
        title="{{name}}"
        intro={<p><code>{{name}}</code> is a {{category}} component</p>}
      >

        <Library.Pattern>
          <Library.Usage componentName="{{name}}" />
          <Library.Example>
            <Library.Demo withSource>
              <{{name}}>Example of {{name}}</{{name}}>
            </Library.Demo>
          </Library.Example>
        </Library.Pattern>

        <Library.Pattern title="Props">
          <Library.Example title="size">
            <Library.Demo withSource>
              <{{name}} size="sm">Small (sm)</{{name}}>
              <{{name}} size="md">Medium (md) (default)</{{name}}>
              <{{name}} size="lg">Large (lg)</{{name}}>
            </Library.Demo>
          </Library.Example>
        </Library.Pattern>
      </Library.Section>
    </Library.Page>
  );
}
