import { mount } from 'enzyme';

import { testTransitionComponent } from '../../test/common-tests';
import {{name}} from '../{{name}}';

describe('{{name}}', () => {
  let container;

  const create{{name}} = (props = {}) => {
    const style = { width: 100, height: 200 };
    return mount(
      <{{name}} {...props}>
        <div style={style}>Test content</div>
      </{{name}}>,
      { attachTo: container }
    );
  };

  beforeEach(() => {
    container = document.createElement('div');
    document.body.appendChild(container);
  });

  afterEach(() => {
    container.remove();
  });

  testTransitionComponent(Slider);
});
