import { mount } from 'enzyme';

import { checkAccessibility } from '../../../../test/util/accessibility';
import {{name}} from '../{{name}}';

describe('{{name}}', () => {
  let container;

  const create{{name}} = (props = {}) => {
    const style = { width: 100, height: 200 };
    return mount(
      <{{name}} visible={false} {...props}>
        <div style={style}>Test content</div>
      </{{name}}>,
      { attachTo: container }
    );
  };

  beforeEach(() => {
    container = document.createElement('div');
    document.body.appendChild(container);
  });

  afterEach(() => {
    container.remove();
  });

  it(
    'should pass a11y checks',
    checkAccessibility([
      {
        name: 'visible',
        content: () => create{{name}}({ visible: true }),
      },
      {
        name: 'hidden',
        content: () => create{{name}}({ visible: false }),
      },
    ])
  );
});
